<div>Score: {{currentScore}}</div>

<div class="playground">
  @for (hole of holes; track hole.id) {
    <app-hole [id]="hole.id" [isMoleVisible]="hole.isVisible" (onMoleHit)="updateScore($event)" (onVisibilityExpired)="hideMole(hole.id)"></app-hole>
  }
</div>

<div>Time: {{time}}</div>
<div>Highscore: {{highscore}}</div>

<!--<dialog #endGameDialog>-->
<!--  <h1>Game Over!</h1>-->
<!--  @if (currentScore > highscore) {-->
<!--    <span>New Highscore!!!</span>-->
<!--  }-->
<!--  <span>{{ currentScore }} moles whacked!</span>-->
<!--  <button (click)="startGame()">Start Again</button>-->
<!--</dialog>-->


<!--<dialog #startGameDialog [open]="isSDOpen">-->
<!--  <h1>Welcome to Whack-A-Mole!</h1>-->
<!--  <span>Click the button below to start the game!</span>-->
<!--  <button (click)="startGame()">Start</button>-->
<!--</dialog>-->
