.hole {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
  border: 1px solid black;
}

.visible-mole {
  background: black;
}

.hit {
  background: green;
}
.miss {
  background: red;
}
